header{}
header ul{
    text-align: center;
}
header ul li{
    display: inline-block;
}
header ul li a{
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    color: black;
    border-left: 1px solid silver;
    font-size: 17px;
}
.label{
    width: 100px;
}